
<div class="jumbotron about">
	<div class="container panel panel-default">
		<div class="panel-body">
			<h3>About this app</h3>
			<p>
				This app has been developed to learn and test different aspects of web development with AngularJS 2.
			</p>
			<ul>
				<li>TypeScript</li>
				<li>Components</li>
				<li>Http Services</li>
				<li>Forms and input validation</li>
				<li>Custom Pipes</li>
				<li>Routing</li>
				<li>CSS stilying using BootStrap</li>
				</ul>
		</div>
	</div>
	<div class="container">
		<button class="btn btn-success" (click)="goBackHome()">Back Home</button>
	</div>
</div>