<!-- Header -->
<div class="container row">
	<div class="col-sm-2"></div>
	<h3 class="col-sm-8">Search Weather by City</h3>
	<div class="col-sm-2"></div>
</div>

<!-- Search From -->
<div class="jumbotron search-form">
	<form class="form-inline text-center" #searchForm="ngForm">
		<input id="searchInput" type="text" class="form-control" 
			[(ngModel)]="searchInput" name="cityName" #cityName="ngModel" 
			placeholder="Enter city name" title="Name must have at least 3 characters" minlength="3" required>
		<button type="submit" class="btn" (click)="requestWeatherFor(cityName.value)" 
			[disabled]="!canSubmitRequest(searchForm.form.valid)" [class.btn-success]="searchForm.form.valid"> Search </button>
	</form>
</div>

<!-- Results container -->
<div class="container row">
	<div class="col-sm-2"></div>
	<table class="col-sm-8">
		<tr *ngFor="let city of searchResult.cities">
			<td>
				<img [src]="city.getWeatherIconUrl()">
			</td>
			<td>
				<a [href]="city.getCityUrl()" class="city-link" target="_blank">{{city.name}}, {{city.countryCode}}</a> <img [src]="city.getFlagIconUrl()">  <b>{{city.weatherDescription}}</b>
				<p>
					Temperature: <span class="highlight">{{city.weatherTemperature | temperature:'celsius'}}</span>
					 Pressure: <span class="highlight">{{city.weatherPressure}} hpa</span>
					</p>
				<p>See it on the <a [href]="city.getMapUrl()" target="_blank">map</a></p>
			</td>
		</tr>
	</table>
	<div class="col-sm-2"></div>
</div>