<div class="container row">
	<div class="col-sm-2"></div>
	<h3 class="col-sm-8">Weather in your city</h3>
	<div class="col-sm-2"></div>
</div>
<weather-search></weather-search>
<div class="container row">
	<div class="col-sm-2"></div>
	<footer class="col-sm-8">Powered by    
		<a href="https://openweathermap.org/" target="_blank">
			<img src='http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/logo_OpenWeatherMap_orange.svg'
				alt='Open Weather Map' height='20' width='160'>
		</a>
	</footer>
	<div class="col-sm-2"></div>
</div>